# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.exp
engine/SDK/*.dll
engine/Debug/*.dll
engine/Release/*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.tlog
*.ilk
*.pdb
*.ipch
*.db
engine/.vs
*.manifest
*.lastbuildstate
*.log
*.idb
*.iobj

*.ipdb

*.idb

*.ipch

engine/engine/Win32/*.*
engine/engine/x64/*.*

LevelEditor/Debug/*.*
LevelEditor/Release/*.*

engine/SDL/lua-5.2.4/Win32/*.*
engine/SDL/lua-5.2.4/x64/*.*
*.sarif
